<ion-header>
    <ion-toolbar>
        <app-xc-back-button slot="start"></app-xc-back-button>
        <ion-searchbar placeholder="输入内容" animated [(ngModel)]="keywords"></ion-searchbar>
        <ion-buttons slot="end">
            <ion-button color="dark" (click)="doSearch()">搜索</ion-button>
        </ion-buttons>
    </ion-toolbar>
    <ion-toolbar *ngIf="!flag" class="sub_toolbar">
        <div class="subheader">
            <div *ngFor="let item of subheaderList;let i = index;" (click)="subheaderChange(i)"
                 [ngClass]="{active:i===subheaderSelectedIndex}">{{ item.title }}</div>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="search_content" *ngIf="flag" padding="">
        <div class="hot_list">
            <h3 class="search_title">热搜</h3>
            <div>
                <span>女装</span>
                <span>男装</span>
                <span>家具</span>
                <span>家具家具家具家具家具家具家具</span>
                <span>化妆品</span>
                <span>化妆品</span>
                <span>女装</span>
                <span>男装</span>
                <span>家具</span>
                <span>化妆品</span>
                <span>化妆品</span><span>女装</span>
                <span>男装</span>
                <span>家具</span>
                <span>化妆品</span>
                <span>化妆品</span>
            </div>
        </div>
        <div class="history" *ngIf="historyList.length">
            <h3 class="search_title">历史搜索</h3>
            <ion-list lines="full">
                <ion-item *ngFor="let item of historyList;let i = index" (click)="historyClick(item)">
                    <ion-label> {{  item}}</ion-label>
                    <ion-icon name="close" color="dark" slot="end" (click)="delHistory($event,item,i)"></ion-icon>
                </ion-item>
            </ion-list>
        </div>
    </div>
    <div class="good_content" [hidden]="flag">
        <ion-list>
            <ion-item *ngFor="let good of productList">
                <ion-thumbnail slot="start">
                    <img [src]="good.pic"/>
                </ion-thumbnail>
                <ion-label>
                    <h3 class="title">{{ good.title }}</h3>
                    <p>价格：<span class="price">¥{{ good.price }}</span></p>
                </ion-label>
            </ion-item>
        </ion-list>
        <ion-infinite-scroll threshold="100px" (ionInfinite)="getProduct()">
            <ion-infinite-scroll-content
                    loadingSpinner="bubbles"
                    loadingText="加载中...">
            </ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </div>
</ion-content>
