<ion-header>
    <ion-toolbar>
        <app-xc-back-button slot="start"></app-xc-back-button>
        <ion-title>product-list</ion-title>
    </ion-toolbar>
    <ion-toolbar class="sub_toolbar">
        <div class="subheader">
            <div *ngFor="let item of subheaderList;let i = index;" (click)="subheaderChange(i)"
                 [ngClass]="{active:i===subheaderSelectedIndex}">{{ item.title }}</div>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="good_content">
        <ion-list>
            <ion-item *ngFor="let good of productList" routerLink="/product/detail/{{item._id}}">
                <ion-thumbnail slot="start">
                    <img [src]="good.pic"/>
                </ion-thumbnail>
                <ion-label>
                    <h3 class="title">{{ good.title }}</h3>
                    <p>价格：<span class="price">¥{{ good.price }}</span></p>
                </ion-label>
            </ion-item>
        </ion-list>
        <ion-infinite-scroll threshold="100px" (ionInfinite)="getProduct()">
            <ion-infinite-scroll-content
                    loadingSpinner="bubbles"
                    loadingText="加载中...">
            </ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </div>
</ion-content>
