ion-header {
  ion-toolbar {
    --border-color: #fff;

    ion-icon {
      font-size: 2.6rem;
    }
  }
}

.login_logo {
  text-align: center;
  padding: 1rem;

  img {
    width: 6rem;
    height: 6rem;
    border-radius: 2rem;
  }
}

.login-list {
  input, span {
    font-size: 1.4rem;
  }
}

